<html lang='en-GB'>
<head>
  <meta charset='UTF-8'>
  <title>{{title}}</title>
</head>
<body class='{% block body_class %}{% endblock %}'>

<header>
  <nav>
    <ul>
      <li><a href='{{ path("homepage") }}'>Homepage</a></li>
      <li><a href='{{ path("atom-feed") }}'>Atom Feed</a></li>
      <li><a href='{{ path("tags-tag-page", tag="css") }}'>Posts tagged CSS</a></li>
    </ul>
  </nav>
</header>

{% block body %}{{body}}{% endblock %}
{% block related %}{% endblock %}

<footer>
  <p>Copyright {{global.copyright_year_range}} {{site.author}}.</p>
</footer>

</body>
</html>
