{% extends "base.html" %}

{% block body %}
  <h1>Entries for {{year.year}}</h1>

  <ul>
    {% for date in publication_dates %}
      {% with month=date.month %}
        <li><a href='{{ path("month-index", year=month.year, month=month.month) }}'>{{month.strftime('%B')}}</a></li>
      {% endwith %}
    {% endfor %}
  </ul>

  <ul>
  {% for page in pages %}
    {% if loop.changed(page.published.month) %}
      {% if not loop.first %}
          </li>
        </ul>
      {% endif %}
        <li>
          <h2><a href='{{ path("month-index", year=page.published.strftime("%Y"), month=page.published.strftime("%m")) }}'>{{page.published.strftime('%B')}}</a></h2>
          <ul>
    {% endif %}

          <li>
            {{page.published.day}}{{page.published.day|ordinal}}
            {{page.published.strftime('%H:%M')}} <a href='{{page.path}}'>{{page.title}}</a>
          </li>
  
    {% if loop.last %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
  </ul>

  {% if pagination %}
    <ul class='pagination'>
      {% for page in pagination %}
        <li>
          {% if page.number == current_page.number %}
            <em>Page {{page.number}}</em>
          {% else %}
            <a href='{{page.path}}'>Page {{page.number}}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
